* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

#tradingGraphPanel {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#tradingGraphPanel div {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    gap: 10px;
}
canvas {
    border-style: solid;
}


