
:root {
    --main-color: #ff3c00;
    --background-color: #030718;
    --secondary-color: #FEF3E2;
}


@font-face {
    font-family: '8bitOperatorPlusSC-Bold';
    src: url('fonts/8bitOperatorPlusSC-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'ChixaDemibold';
    src: url('fonts/ChixaDemibold.ttf') format('truetype');
}


p {    
    font-weight: 300;
    font-size: 20px;
    
}
* { 

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--main-color);
    text-shadow: 0 0 2px var(--main-color), 0 0 10px var(--main-color);

    font-family: '8bitOperatorPlusSC-Bold', 'ChixaDemibold',sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    overflow: hidden;

}

/* Overlay effect */
.fuzzy-overlay {
    position: absolute;
    inset: -200%;
    background-image: url("images/noise.png");
    opacity: 15%;
    z-index: 10;
    pointer-events: none;
    animation: shift 0.2s linear infinite both,  fadeOpacity 5s steps(1, end) infinite;
}

@keyframes shift {
    0% {
        transform: translateX(10%) translateY(10%);
    }

    100% {
        transform: translateX(-10%) translateY(-10%);
    }
}


@keyframes fadeOpacity {
    0%, 100% {
        opacity: 15%;
    }
    70% {
        opacity: 20%;
    }
}




canvas {
    border-style: solid;
    margin: 10px;
    box-shadow: 0 0 10px var(--main-color);

}

#tradingGraphAndNewsDiv {
    display: flex;
    flex-direction: row;
    z-index: 5;
    padding-left: 10px;
    padding-right: 10px;
    flex: 1;

}

#terminalAndAboutDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
}
/* panels */
#terminalPanel {
    display: flex;
    flex: 1.2;
    flex-direction: column-reverse;
}

#terminalPanel div * {
    font-size: 20px;
}
#terminalPanel div input {
    flex: 1;
    border: none;
    margin-right: 5px;
    margin-left: 5px;

}

input:focus {
    border-color:  var(--main-color);/* Highlighted border color */
    outline: none; /* Removes the default outline */
    font-size: 20px;
}

#textInput {
    display: flex;
    
}

#commandHistory {
    position: absolute;
    flex-direction: column-reverse;
    margin-bottom: 25px;
}


#newsPanel  {
    flex: 1;
    margin-left: 20px;
    z-index: 5;

}
#newsPanelHistory {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
}



#tradingGraphPanel {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    flex: 1;
}


@keyframes flashBorder {
    0% {
        border-color: var(--main-color);
    }
    25% {
        border-color: var(--main-color);
    }
    26% {
        border-color: transparent; 
    }
    50% {
        border-color: transparent; 
    }
    51% {
        border-color: var(--main-color);
    }
    75% {
        border-color: var(--main-color);
    }
    76% {
        border-color: transparent; 
    }
    100% {
        border-color: transparent; 
    }
    
}
    /* animation: flashBorder 0.5s infinite;*/

.flashBorder1 {
    padding: 20px;
    border: 2px solid transparent;
    animation: flashBorder 1.7s;
}

#tradingGraphPanel{
    display: flex;
    flex-direction: column;
}
.twoGraphs{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.graphWithThings{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.tradingGraphContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.companyNameAndgraph {
    display: flex;
    flex-direction: column;
}

.companyNameAndgraph p {
    margin-left: 10px;
}
.graphNumbers {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    width: 100px;
    height: 200px;
    margin: 10px;
    padding-top: 20px;
}
.invertedColor {
    background-color: var(--main-color);
    color: var(--background-color);
    text-shadow: 0 0 2px var(--background-color);
    box-shadow: 0 0 10px var(--main-color);
    z-index: 6;
}

#aboutPanel {
    display: flex;
    flex-direction: column;
    flex: 1;
    z-index: 5;
    
}

#creditsAndDays {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    flex: 1;
}

#logo{
 z-index: 5;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 5;
}

#name {
    font-size: 15px;
    
    
}

